# Xử lý dữ liệu & tính toán khoa học
pandas
numpy
openpyxl
xlrd
ucimlrepo

# Thống kê & Học máy
scipy
statsmodels
scikit-learn>=1.5.0
xgboost>=2.0.0

# Trực quan hóa & Giải thích mô hình
matplotlib
seaborn
shap

# Giao diện Dashboard & Môi trường chạy
streamlit
jupyter